body {
    padding: 50px 0;
    background-color: black;
}
header {
    text-align: center;
}

h1 {
    font-size: 50px;
    text-align: center;
    color: white;
}

#papa {
    width: 850px;

}

#album {
    width: 600px;
}

#cd {
    width: 850px;
}

#papa, #album {
    margin: 100px auto;
    border: 2px white solid;
    border-radius: 5%;

}

.disponible {
    font-size: 35px;
    padding: 50px 0 100px;
}

.hermanas {
    width: 700px;
    margin: 200px auto;
} 


p {
    font-size: 25px;
    text-align: center;
    color: white;
}

footer {
    text-align: center;
    margin-bottom: 30px;
}

.imagenes-redes img {
    width: 150px;
    margin: 0 100px;
    margin-bottom: 30px;
}

h5 {
    color: white;
}

img:active {
    outline: 5px solid rgb(255, 0, 0, 5);  
}
